In [1]:
# Import list...
import pandas as pd
import numpy as np

# Week 6: pandas and file import/export

## Exercise 1: Songs

### (a)

Initialize a DataFrame object containing information about songs. Your DataFrame should include the following columns:

- Band name
- Song name

You don't need to specify row names. When you don't specify row names, pandas automatically indexes using integers starting from zero.

In [2]:
songs = [
    ["Scorpions", "Wind of Change"],
    ["Metallica", "Master of Puppets"],
    ["One Direction", "You Don't Know You're Beautiful"],
    ["Beach Boys", "I Get Around"],
    ["Cowboys Fringants", "Marine marchande"],
    ["Frank Sinatra", "My Way"],
    ["Joe Dassin", "Dans les yeux D'Émilie"],
    ["Simon and Garfunkel", "Scarborough Fair"],
    ["Harmonium", "Pour Un Instant"],
    ["Scorpions", "Holiday"]
]

song_df = pd.DataFrame(
    data = songs,
    columns = ["Band Name", "Song Name"]
)

song_df

             Band Name                        Song Name
0            Scorpions                   Wind of Change
1            Metallica                Master of Puppets
2        One Direction  You Don't Know You're Beautiful
3           Beach Boys                     I Get Around
4    Cowboys Fringants                 Marine marchande
5        Frank Sinatra                           My Way
6           Joe Dassin           Dans les yeux D'Émilie
7  Simon and Garfunkel                 Scarborough Fair
8            Harmonium                  Pour Un Instant
9            Scorpions                          Holiday

### (b)

Now, let's add a column indicating how we rate each song on a scale of 1 to 10

In [3]:
rating = [9.5, 8, 5, 9.5, 8.5, 9, 9.5, 9, 10, 10]

song_df["Rating"] = rating

song_df

             Band Name                        Song Name  Rating
0            Scorpions                   Wind of Change     9.5
1            Metallica                Master of Puppets     8.0
2        One Direction  You Don't Know You're Beautiful     5.0
3           Beach Boys                     I Get Around     9.5
4    Cowboys Fringants                 Marine marchande     8.5
5        Frank Sinatra                           My Way     9.0
6           Joe Dassin           Dans les yeux D'Émilie     9.5
7  Simon and Garfunkel                 Scarborough Fair     9.0
8            Harmonium                  Pour Un Instant    10.0
9            Scorpions                          Holiday    10.0

### (c)

Next, let's add a few more songs (i.e. add a few more rows)

In [4]:
# There are many ways to do this
# Here, we will add them one row at a time
# It is a little slow but it's the easiest method

song_df.loc[10] = ["The Police", "Message in a Bottle", 8]
song_df.loc[11] = ["La Chicane", "Juste pour voir le monde", 8.5]
song_df.loc[12] = ["Queen", "Bohemian Rhapsody", 10]
song_df.loc[13] = ["Paul Anka", "Put Your Head on my Shoulder", 9.5]
song_df.loc[14] = ["Radiohead", "Fake Plastic Trees", 8.5]

song_df

              Band Name                        Song Name  Rating
0             Scorpions                   Wind of Change     9.5
1             Metallica                Master of Puppets     8.0
2         One Direction  You Don't Know You're Beautiful     5.0
3            Beach Boys                     I Get Around     9.5
4     Cowboys Fringants                 Marine marchande     8.5
5         Frank Sinatra                           My Way     9.0
6            Joe Dassin           Dans les yeux D'Émilie     9.5
7   Simon and Garfunkel                 Scarborough Fair     9.0
8             Harmonium                  Pour Un Instant    10.0
9             Scorpions                          Holiday    10.0
10           The Police              Message in a Bottle     8.0
11           La Chicane         Juste pour voir le monde     8.5
12                Queen                Bohemian Rhapsody    10.0
13            Paul Anka     Put Your Head on my Shoulder     9.5
14            Radiohead               Fake Plastic Trees     8.5

### (d)

Finally, we want to index this DataFrame by song name (instead of by the default integers starting at 0)

In [5]:
song_df.index = song_df["Song Name"].values

song_df

,Band Name,Song Name,Rating
Wind of Change,Scorpions,Wind of Change,9.5
Master of Puppets,Metallica,Master of Puppets,8.0
You Don't Know You're Beautiful,One Direction,You Don't Know You're Beautiful,5.0
I Get Around,Beach Boys,I Get Around,9.5
Marine marchande,Cowboys Fringants,Marine marchande,8.5
My Way,Frank Sinatra,My Way,9.0
Dans les yeux D'Émilie,Joe Dassin,Dans les yeux D'Émilie,9.5
Scarborough Fair,Simon and Garfunkel,Scarborough Fair,9.0
Pour Un Instant,Harmonium,Pour Un Instant,10.0
Holiday,Scorpions,Holiday,10.0
Message in a Bottle,The Police,Message in a Bottle,8.0
Juste pour voir le monde,La Chicane,Juste pour voir le monde,8.5
Bohemian Rhapsody,Queen,Bohemian Rhapsody,10.0
Put Your Head on my Shoulder,Paul Anka,Put Your Head on my Shoulder,9.5
Fake Plastic Trees,Radiohead,Fake Plastic Trees,8.5

## Exercise 2: Colours

### (a)

Initialize a DataFrame with rows and colours corresponding to a few of your favourite colours. At the intersection between a row and a column, write the colour corresponding to the mix between these two colours. For example, we might have something like this:

|| Red | Blue | Yellow |
| :-: | :-: | :-: | :-: |
| Red | Red | Purple | Orange |
| Blue | Purple | Blue | Green |
| Yellow | Orange | Green | Yellow |

In [6]:
colours = [
    ["Red", "Purple", "Orange"],
    ["Purple", "Blue", "Green"],
    ["Orange", "Green", "Yellow"]
]

colour_df = pd.DataFrame(
    data = colours,
    columns = ["Red", "Blue", "Yellow"],
    index = ["Red", "Blue", "Yellow"]
)

colour_df

           Red    Blue  Yellow
Red        Red  Purple  Orange
Blue    Purple    Blue   Green
Yellow  Orange   Green  Yellow

### (b)

Add an extra colour to your DataFrame (i.e. add an extra row and column). Notice that since your table is perfectly *diagonal*, rows and columns for the same colour should be *identical*.

In [7]:
extra_colour = ["Brown", "Turquoise", "Light Green"]

colour_df["Green"] = extra_colour

extra_colour.append("Green")

colour_df.loc["Green"] = extra_colour

colour_df

           Red       Blue       Yellow        Green
Red        Red     Purple       Orange        Brown
Blue    Purple       Blue        Green    Turquoise
Yellow  Orange      Green       Yellow  Light Green
Green    Brown  Turquoise  Light Green        Green

## Exercise 3: Budgeting

### (a)

Initialize a DataFrame containing a single column detailing your monthly expenses in the following categories:

- Rent
- Utilities
- Groceries
- Other necessities
- Entertainment

Your DataFrame should be indexed using those categories.

In [8]:
data = [900, 150, 200, 50, 100]

expenses = pd.DataFrame(
    columns = ["Monthly Expenses"],
    index = ["Rent", "Utilities", "Groceries", "Other Necessities", "Entertainmnent"],
    data = data
)

expenses

                   Monthly Expenses
Rent                            900
Utilities                       150
Groceries                       200
Other Necessities                50
Entertainmnent                  100

### (b)

Add an extra row containing your *total* monthly expenses. This row should simply be called "Total".

Hint: The $\texttt{numpy.sum(array)}$ function is used to calculate the sum of an array.

In [9]:
tot = np.sum(data)

expenses.loc["Total"] = [tot]

expenses

                   Monthly Expenses
Rent                            900
Utilities                       150
Groceries                       200
Other Necessities                50
Entertainmnent                  100
Total                          1400

### (c)

Add an extra column that shows the percentage of your total expenses attributed to each category (i.e. %groceries, %rent, etc.)

In [10]:
pct = expenses["Monthly Expenses"]/tot * 100

expenses["Percentage"] = pct

expenses

                   Monthly Expenses  Percentage
Rent                            900   64.285714
Utilities                       150   10.714286
Groceries                       200   14.285714
Other Necessities                50    3.571429
Entertainmnent                  100    7.142857
Total                          1400  100.000000

## Exercise 4: Library

I've uploaded a collection of books and written works called "books.xlsx". This workbook contains the following information for a great number of written works:

- Title
- Author
- Genre
- Original Language
- Publication Year

Let's go ahead and import it using $\texttt{pandas.read_excel(filename)}$ and view the contents via a $\texttt{print}$ statement

In [11]:
books=pd.read_excel("books.xlsx")

books

,Title,Author,Genre,Original Language,Publication Year
0,The Hobbit,J.R.R. Tolkien,Fantasy,English,1937
1,Harry Potter and the Philosopher's Stone,J.K. Rowling,Fantasy,English,1997
2,Moby-Dick,Herman Melville,Adventure,English,1851
3,Voyage au centre de la Terre,Jules Verne,Adventure,French,1864
4,Les Trois Mousquetaires,Alexandre Dumas,Adventure,French,1844
...,...,...,...,...,...
68,La Cantatrice chauve,Eugène Ionesco,Absurdism,French,1950
69,En attendant Godot,Samuel Beckett,Absurdism,French,1952
70,Vingt Mille Lieues sous les mers,Jules Verne,Adventure,French,1869
71,Treasure Island,Robert Louis Stevenson,Adventure,English,1883
72,Robinson Crusoe,Daniel Defoe,Adventure,English,1719

### (a)

As you can see, there are a lot of books on there! In order to facilitate the consumption of this data, we will write the following functions:

- Function to return all books written by the same author
- Function to return all books of the same genre
- Function to return all books in the same language
- Function to return all books written before/after a given year

In [12]:
# Can combine the first three guidelines into a single function!
def same_books(books, compare, value):
    """
    Function that returns all books with the same 'compare' parameter, where:
    books: DataFrame containing books
    compare: Name of column to compare (string), can be 'Author', 'Genre', or 'Original Language'
    value: Value of compared column
    """
    
    # Initialize empty DataFrame to store books in
    new_books = pd.DataFrame(columns=books.columns.values)
    
    # Iterate through index values
    for i in books.index.values:
        
        # Compare authors
        if books.loc[i, compare] == value:
            new_books.loc[i] = books.loc[i]
            
    return new_books

In [13]:
same_books(books, compare='Author', value="J.R.R. Tolkien")

,Title,Author,Genre,Original Language,Publication Year
0,The Hobbit,J.R.R. Tolkien,Fantasy,English,1937
17,The Fellowship of the Ring,J.R.R. Tolkien,Fantasy,English,1954
18,The Two Towers,J.R.R. Tolkien,Fantasy,English,1954
19,The Return of the King,J.R.R. Tolkien,Fantasy,English,1955
63,The Silmarillion,J.R.R. Tolkien,Fantasy,English,1977

In [14]:
same_books(books, compare='Original Language', value='French')

,Title,Author,Genre,Original Language,Publication Year
3,Voyage au centre de la Terre,Jules Verne,Adventure,French,1864
4,Les Trois Mousquetaires,Alexandre Dumas,Adventure,French,1844
7,Les Misérables,Victor Hugo,Tragedy,French,1862
20,Notre-Dame de Paris,Victor Hugo,Gothic,French,1831
21,Contes pour buveurs attardés,Michel Tremblay,Short Stories,French,1966
22,L'Avare,Molière,Comedy,French,1668
23,Candide,Voltaire,Philosophy,French,1759
24,Les Enfants du capitaine Grant,Jules Verne,Adventure,French,1868
26,Cyrano de Bergerac,Edmond Rostand,Romance,French,1897
35,L'Albatros,Charles Beaudelaire,Poetry,French,1859
40,Le Comte de Monte-Cristo,Alexandre Dumas,Adventure,French,1846
51,Le Petit Prince,Antoine de Saint-Exupéry,Fable,French,1943
52,Fables de La Fontaine,Jean de La Fontaine,Fable,French,1668
59,Le Tour du monde en quatre-vingts jours,Jules Verne,Adventure,French,1872
60,L'Île mystérieuse,Jules Verne,Adventure,French,1875
67,L'Étranger,Albert Camus,Absurdism,French,1942
68,La Cantatrice chauve,Eugène Ionesco,Absurdism,French,1950
69,En attendant Godot,Samuel Beckett,Absurdism,French,1952
70,Vingt Mille Lieues sous les mers,Jules Verne,Adventure,French,1869

In [15]:
same_books(books, compare='Genre', value='Romance')

,Title,Author,Genre,Original Language,Publication Year
5,The Fault in Our Stars,John Green,Romance,English,2012
26,Cyrano de Bergerac,Edmond Rostand,Romance,French,1897
39,Pride and Prejudice,Jane Austen,Romance,English,1813
43,Twilight,Stephenie Meyer,Romance,English,2005
62,The Scarlet Letter,Nathaniel Hawthorne,Romance,English,1850

In [16]:
def books_bna(books, when, year):
    """
    Function to return all books written before or after a certain year, where:
    books: DataFrame containing books
    when: string, value is either 'before' or 'after'
    year: year value (int)
    """
    
    new_books = pd.DataFrame(columns=books.columns.values)
    
    for i in books.index.values:
        
        date = books.loc[i, "Publication Year"]
        
        if when == 'before':
            if date <= year:
                new_books.loc[i] = books.loc[i]
        elif when == 'after':
            if date >= year:
                new_books.loc[i] = books.loc[i]
                
    return new_books

In [17]:
books_bna(books, when='before', year=1800)

,Title,Author,Genre,Original Language,Publication Year
16,Don Quixote,Miguel de Cervantes,Satire,Spanish,1605
22,L'Avare,Molière,Comedy,French,1668
23,Candide,Voltaire,Philosophy,French,1759
27,Romeo and Juliet,William Shakespeare,Tragedy,English,1597
28,Hamlet,William Shakespeare,Tragedy,English,1603
29,Julius Caesar,William Shakespeare,Tragedy,English,1599
36,Principles of Philosophy,René Descartes,Philosophy,Latin,1644
37,Mathematical Principles of Natural Philosophy,Isaac Newton,Non-fiction,Latin,1687
52,Fables de La Fontaine,Jean de La Fontaine,Fable,French,1668
72,Robinson Crusoe,Daniel Defoe,Adventure,English,1719

In [18]:
books_bna(books, when='after', year=2000)

,Title,Author,Genre,Original Language,Publication Year
5,The Fault in Our Stars,John Green,Romance,English,2012
41,The Hunger Games,Suzanne Collins,Dystopian,English,2008
42,Divergent,Veronica Roth,Dystopian,English,2011
43,Twilight,Stephenie Meyer,Romance,English,2005
44,The Girl with the Dragon Tattoo,Stieg Larsson,Crime,Swedish,2005

Sidenote: To view, for example, all the Original Languages in this DataFrame, we would do something like:

In [19]:
print(books["Original Language"].values)  # Assuming you named your DataFrame 'books'

['English' 'English' 'English' 'French' 'French' 'English' 'English'
 'French' 'English' 'English' 'English' 'English' 'English' 'English'
 'English' 'Russian' 'Spanish' 'English' 'English' 'English' 'French'
 'French' 'French' 'French' 'French' 'German' 'French' 'English' 'English'
 'English' 'English' 'English' 'English' 'English' 'English' 'French'
 'Latin' 'Latin' 'English' 'English' 'French' 'English' 'English'
 'English' 'Swedish' 'English' 'English' 'English' 'English' 'English'
 'English' 'French' 'French' 'German' 'German' 'English' 'English'
 'English' 'English' 'French' 'French' 'English' 'English' 'English'
 'English' 'English' 'English' 'French' 'French' 'French' 'French'
 'English' 'English']

As you can see, we get a list of all values in the Original Language column. But what if we only wanted to see the *unique* Original Languages? Then, we'd do something like this:

In [20]:
print(np.unique(books["Original Language"].values))

['English' 'French' 'German' 'Latin' 'Russian' 'Spanish' 'Swedish']

We could also view all the unique Genres, Authors, Years, etc

In [21]:
print(np.unique(books["Genre"].values))

['Absurdism' 'Adventure' 'Allegorical' 'Comedy' 'Coming-of-age' 'Crime'
 'Dystopian' 'Fable' 'Fantasy' 'Gothic' 'Horror' 'Non-fiction'
 'Philosophy' 'Poetry' 'Pscyhological' 'Romance' 'Satire'
 'Science Fiction' 'Short Stories' 'Tragedy']

(Second sidenote: $\texttt{numpy.unique}$ returns unique array elements *in alphanumeric order*)

### (b)

Using the functions you wrote above, write a function that calculates the percentage of books written by a specific author, or in a specific genre, or in a specific language, or before/after a specific year.

Don't be afraid to get creative with your function variables! Hint: use default variables!

In [22]:
def percent_books(books, value, compare=False, when=False, verbose=False):
    """
    Calculate percentage of books written under a compare or time constraint, where:
    books: DataFrame containing books
    compare: string when not False, can be 'Author', 'Genre', or 'Original Language'
    when: string when not False, can be 'before' or 'after'
    value: value of comparator (string or int, context-dependent)
    verbose: print extra information to the console? (Boolean)
    """
    
    if not compare == False:
        
        new_books = same_books(books, compare=compare, value=value)
        pct = new_books.index.values.size/books.index.values.size * 100
        
        if verbose:
            
            print(f"The percentage of books in the {compare} category with value {value}",
                 f"is {round(pct, 3)}%")
        
    if not when == False:
        
        new_books = books_bna(books, when=when, year=value)
        pct = new_books.index.values.size/books.index.values.size * 100
        
        if verbose:
            
            print(f"The percentage of books written {when} {value}",
                 f"is {round(pct, 3)}%")
    
    return pct

In [23]:
percent_books(books, 'Fantasy', compare='Genre', verbose=True)

The percentage of books in the Genre category with value Fantasy is 15.068%

15.068493150684931

In [24]:
percent_books(books, 'English', compare='Original Language', verbose=True)

The percentage of books in the Original Language category with value English is 63.014%

63.013698630136986

In [25]:
percent_books(books, 1900, when='before', verbose=True)

The percentage of books written before 1900 is 49.315%

49.31506849315068

In [26]:
percent_books(books, 1950, when='after', verbose=True)

The percentage of books written after 1950 is 34.247%

34.24657534246575

## Exercise 5: MSF Distribution

I've uploaded a file called "Perf Alloc 2021-10.xlsx" containing the HedgeServ performance allocation breakdown by series for the MSF fund in October 2021. Let's open it up using $\texttt{pandas.read_excel(filename)}$ and look at it using a $\texttt{print}$ statement.

In [27]:
perf_oct = pd.read_excel("Perf Alloc 2021-10.xlsx")

perf_oct

,Fund Name,To Date NAV Type,Investor Name*,Investor ID,Class*,SR/PI Name*,CCY,R/UR*,Lot Id,pctOwn,...,New Issue,Covered Status*,Sideletter*,Distribution T*,From Date,To Date,Incentive Crystallized T,Incentive Crystallized on To Date,Incentive Crystallized Excluding To Date,Incentive Crystallized TPlus1
0,"TCC Master Multi-Strategy Fund, L.P.",Final,Montrusco Bolton Alternative Fund LP,8,A-MBI,1,CAD,R,0,0.002841,...,Restricted,Unknown,False,0,09/30/2021,10/31/2021,0,0,0,0
1,"TCC Master Multi-Strategy Fund, L.P.",Final,MBI/TCC Multi-Strategy Canadian Trust,2,A-MBI,2,CAD,R,0,0.011234,...,Restricted,Unknown,True,0,09/30/2021,10/31/2021,0,0,0,0
2,"TCC Master Multi-Strategy Fund, L.P.",Final,TCC MSF Mutual Fund,3,A-MBI,3,CAD,R,0,0.000763,...,Restricted,Unknown,False,0,09/30/2021,10/31/2021,0,0,0,0
3,"TCC Master Multi-Strategy Fund, L.P.",Final,Air Canada Pension Master Trust Fund,1,A-TCC,1,CAD,R,0,0.916379,...,Restricted,Unknown,True,0,09/30/2021,10/31/2021,0,0,0,0
4,"TCC Master Multi-Strategy Fund, L.P.",Final,MBI/TCC Multi-Strategy Canadian Trust,2,B-MBI,1,CAD,R,0,0.017828,...,Restricted,Unknown,True,0,09/30/2021,10/31/2021,0,0,0,0
5,"TCC Master Multi-Strategy Fund, L.P.",Final,MBI/TCC Multi-Strategy Canadian Trust,2,B-MBI,2,CAD,R,0,0.007952,...,Restricted,Unknown,True,0,09/30/2021,10/31/2021,0,0,0,0
6,"TCC Master Multi-Strategy Fund, L.P.",Final,MBI/TCC Multi-Strategy Canadian Trust,2,B-MBI,3,CAD,R,0,0.007610,...,Restricted,Unknown,True,0,09/30/2021,10/31/2021,0,0,0,0
7,"TCC Master Multi-Strategy Fund, L.P.",Final,MBI/TCC Multi-Strategy Canadian Trust,2,B-MBI,4,CAD,R,0,0.019001,...,Restricted,Unknown,True,0,09/30/2021,10/31/2021,0,0,0,0
8,"TCC Master Multi-Strategy Fund, L.P.",Final,TCC MSF Mutual Fund,3,C-MBI,1,CAD,R,0,0.016393,...,Restricted,Unknown,False,0,09/30/2021,10/31/2021,0,0,0,0
9,"TCC Master Multi-Strategy Fund, L.P.",Final,"Performance Allocation A (TCC MS Feeder, L.P.)",4,Pref,1,CAD,R,0,0.000000,...,Restricted,Unknown,False,0,09/30/2021,10/31/2021,0,0,0,0
10,"TCC Master Multi-Strategy Fund, L.P.",Final,"Performance Allocation B (MBI MS Feeder, L.P.).",7,Pref,2,CAD,R,0,0.000000,...,Restricted,Unknown,False,0,09/30/2021,10/31/2021,0,0,0,0

### (a)

The first thing we want to do is obtain the HedgeServ *Unique ID* for each series, and index our dataframe using this ID. This is done by combining the "Investor ID", "CCY", "Class*", and "SR/PI Name*" columns (in this order).

In [28]:
# We can't combine them directly because they have different object classes (str vs. int)
# There are many ways to circumvent this, but let's just go with a simple for loop

unid = []
for i in perf_oct.index.values:
    indx = str(perf_oct.loc[i, "Investor ID"]) + str(perf_oct.loc[i, "CCY"]) \
    + str(perf_oct.loc[i, "Class*"]) + str(perf_oct.loc[i, "SR/PI Name*"])

    unid.append(indx)
    
print(unid)

['8CADA-MBI1', '2CADA-MBI2', '3CADA-MBI3', '1CADA-TCC1', '2CADB-MBI1', '2CADB-MBI2', '2CADB-MBI3', '2CADB-MBI4', '3CADC-MBI1', '4CADPref1', '7CADPref2']

In [29]:
perf_oct.index = unid

perf_oct

,Fund Name,To Date NAV Type,Investor Name*,Investor ID,Class*,SR/PI Name*,CCY,R/UR*,Lot Id,pctOwn,...,New Issue,Covered Status*,Sideletter*,Distribution T*,From Date,To Date,Incentive Crystallized T,Incentive Crystallized on To Date,Incentive Crystallized Excluding To Date,Incentive Crystallized TPlus1
8CADA-MBI1,"TCC Master Multi-Strategy Fund, L.P.",Final,Montrusco Bolton Alternative Fund LP,8,A-MBI,1,CAD,R,0,0.002841,...,Restricted,Unknown,False,0,09/30/2021,10/31/2021,0,0,0,0
2CADA-MBI2,"TCC Master Multi-Strategy Fund, L.P.",Final,MBI/TCC Multi-Strategy Canadian Trust,2,A-MBI,2,CAD,R,0,0.011234,...,Restricted,Unknown,True,0,09/30/2021,10/31/2021,0,0,0,0
3CADA-MBI3,"TCC Master Multi-Strategy Fund, L.P.",Final,TCC MSF Mutual Fund,3,A-MBI,3,CAD,R,0,0.000763,...,Restricted,Unknown,False,0,09/30/2021,10/31/2021,0,0,0,0
1CADA-TCC1,"TCC Master Multi-Strategy Fund, L.P.",Final,Air Canada Pension Master Trust Fund,1,A-TCC,1,CAD,R,0,0.916379,...,Restricted,Unknown,True,0,09/30/2021,10/31/2021,0,0,0,0
2CADB-MBI1,"TCC Master Multi-Strategy Fund, L.P.",Final,MBI/TCC Multi-Strategy Canadian Trust,2,B-MBI,1,CAD,R,0,0.017828,...,Restricted,Unknown,True,0,09/30/2021,10/31/2021,0,0,0,0
2CADB-MBI2,"TCC Master Multi-Strategy Fund, L.P.",Final,MBI/TCC Multi-Strategy Canadian Trust,2,B-MBI,2,CAD,R,0,0.007952,...,Restricted,Unknown,True,0,09/30/2021,10/31/2021,0,0,0,0
2CADB-MBI3,"TCC Master Multi-Strategy Fund, L.P.",Final,MBI/TCC Multi-Strategy Canadian Trust,2,B-MBI,3,CAD,R,0,0.007610,...,Restricted,Unknown,True,0,09/30/2021,10/31/2021,0,0,0,0
2CADB-MBI4,"TCC Master Multi-Strategy Fund, L.P.",Final,MBI/TCC Multi-Strategy Canadian Trust,2,B-MBI,4,CAD,R,0,0.019001,...,Restricted,Unknown,True,0,09/30/2021,10/31/2021,0,0,0,0
3CADC-MBI1,"TCC Master Multi-Strategy Fund, L.P.",Final,TCC MSF Mutual Fund,3,C-MBI,1,CAD,R,0,0.016393,...,Restricted,Unknown,False,0,09/30/2021,10/31/2021,0,0,0,0
4CADPref1,"TCC Master Multi-Strategy Fund, L.P.",Final,"Performance Allocation A (TCC MS Feeder, L.P.)",4,Pref,1,CAD,R,0,0.000000,...,Restricted,Unknown,False,0,09/30/2021,10/31/2021,0,0,0,0
7CADPref2,"TCC Master Multi-Strategy Fund, L.P.",Final,"Performance Allocation B (MBI MS Feeder, L.P.).",7,Pref,2,CAD,R,0,0.000000,...,Restricted,Unknown,False,0,09/30/2021,10/31/2021,0,0,0,0

### (b)

Next, we'll add an extra column containing the Net Asset Value by combining the "End Gross Capital(Base)*" and "Incentive Crystallized T" columns.

In [30]:
# These have the same object type, so we should be able to add them directly

perf_oct["NAV"] = perf_oct["End Gross Capital(Base)*"] + perf_oct["Incentive Crystallized T"]

perf_oct

,Fund Name,To Date NAV Type,Investor Name*,Investor ID,Class*,SR/PI Name*,CCY,R/UR*,Lot Id,pctOwn,...,Covered Status*,Sideletter*,Distribution T*,From Date,To Date,Incentive Crystallized T,Incentive Crystallized on To Date,Incentive Crystallized Excluding To Date,Incentive Crystallized TPlus1,NAV
8CADA-MBI1,"TCC Master Multi-Strategy Fund, L.P.",Final,Montrusco Bolton Alternative Fund LP,8,A-MBI,1,CAD,R,0,0.002841,...,Unknown,False,0,09/30/2021,10/31/2021,0,0,0,0,3.674375e+06
2CADA-MBI2,"TCC Master Multi-Strategy Fund, L.P.",Final,MBI/TCC Multi-Strategy Canadian Trust,2,A-MBI,2,CAD,R,0,0.011234,...,Unknown,True,0,09/30/2021,10/31/2021,0,0,0,0,1.453536e+07
3CADA-MBI3,"TCC Master Multi-Strategy Fund, L.P.",Final,TCC MSF Mutual Fund,3,A-MBI,3,CAD,R,0,0.000763,...,Unknown,False,0,09/30/2021,10/31/2021,0,0,0,0,9.865847e+05
1CADA-TCC1,"TCC Master Multi-Strategy Fund, L.P.",Final,Air Canada Pension Master Trust Fund,1,A-TCC,1,CAD,R,0,0.916379,...,Unknown,True,0,09/30/2021,10/31/2021,0,0,0,0,1.186057e+09
2CADB-MBI1,"TCC Master Multi-Strategy Fund, L.P.",Final,MBI/TCC Multi-Strategy Canadian Trust,2,B-MBI,1,CAD,R,0,0.017828,...,Unknown,True,0,09/30/2021,10/31/2021,0,0,0,0,2.307135e+07
2CADB-MBI2,"TCC Master Multi-Strategy Fund, L.P.",Final,MBI/TCC Multi-Strategy Canadian Trust,2,B-MBI,2,CAD,R,0,0.007952,...,Unknown,True,0,09/30/2021,10/31/2021,0,0,0,0,1.029073e+07
2CADB-MBI3,"TCC Master Multi-Strategy Fund, L.P.",Final,MBI/TCC Multi-Strategy Canadian Trust,2,B-MBI,3,CAD,R,0,0.007610,...,Unknown,True,0,09/30/2021,10/31/2021,0,0,0,0,9.848254e+06
2CADB-MBI4,"TCC Master Multi-Strategy Fund, L.P.",Final,MBI/TCC Multi-Strategy Canadian Trust,2,B-MBI,4,CAD,R,0,0.019001,...,Unknown,True,0,09/30/2021,10/31/2021,0,0,0,0,2.458954e+07
3CADC-MBI1,"TCC Master Multi-Strategy Fund, L.P.",Final,TCC MSF Mutual Fund,3,C-MBI,1,CAD,R,0,0.016393,...,Unknown,False,0,09/30/2021,10/31/2021,0,0,0,0,2.123502e+07
4CADPref1,"TCC Master Multi-Strategy Fund, L.P.",Final,"Performance Allocation A (TCC MS Feeder, L.P.)",4,Pref,1,CAD,R,0,0.000000,...,Unknown,False,0,09/30/2021,10/31/2021,0,0,0,0,1.000000e-02
7CADPref2,"TCC Master Multi-Strategy Fund, L.P.",Final,"Performance Allocation B (MBI MS Feeder, L.P.).",7,Pref,2,CAD,R,0,0.000000,...,Unknown,False,0,09/30/2021,10/31/2021,0,0,0,0,1.387401e-03

### (c)

We'll add a column containing the Investor Specific Expenses/Perf allocation via the following calculation:

- Obtain the management fees at the "Mgt Fee Calculation (Base)*"
- Add provincial and federal taxes
- Add the crystallized perf allocations at the "Incentive Crystallized T" column

In [31]:
perf_oct["Investor Specific Expenses/Perf Allocation"] = perf_oct["Mgt Fee Calculation (Base)*"] \
    * 0.14975 + perf_oct["Incentive Crystallized T"]

perf_oct

,Fund Name,To Date NAV Type,Investor Name*,Investor ID,Class*,SR/PI Name*,CCY,R/UR*,Lot Id,pctOwn,...,Sideletter*,Distribution T*,From Date,To Date,Incentive Crystallized T,Incentive Crystallized on To Date,Incentive Crystallized Excluding To Date,Incentive Crystallized TPlus1,NAV,Investor Specific Expenses/Perf Allocation
8CADA-MBI1,"TCC Master Multi-Strategy Fund, L.P.",Final,Montrusco Bolton Alternative Fund LP,8,A-MBI,1,CAD,R,0,0.002841,...,False,0,09/30/2021,10/31/2021,0,0,0,0,3.674375e+06,-688.786988
2CADA-MBI2,"TCC Master Multi-Strategy Fund, L.P.",Final,MBI/TCC Multi-Strategy Canadian Trust,2,A-MBI,2,CAD,R,0,0.011234,...,True,0,09/30/2021,10/31/2021,0,0,0,0,1.453536e+07,-2179.175209
3CADA-MBI3,"TCC Master Multi-Strategy Fund, L.P.",Final,TCC MSF Mutual Fund,3,A-MBI,3,CAD,R,0,0.000763,...,False,0,09/30/2021,10/31/2021,0,0,0,0,9.865847e+05,-184.942129
1CADA-TCC1,"TCC Master Multi-Strategy Fund, L.P.",Final,Air Canada Pension Master Trust Fund,1,A-TCC,1,CAD,R,0,0.916379,...,True,0,09/30/2021,10/31/2021,0,0,0,0,1.186057e+09,-133323.963653
2CADB-MBI1,"TCC Master Multi-Strategy Fund, L.P.",Final,MBI/TCC Multi-Strategy Canadian Trust,2,B-MBI,1,CAD,R,0,0.017828,...,True,0,09/30/2021,10/31/2021,0,0,0,0,2.307135e+07,-2881.873808
2CADB-MBI2,"TCC Master Multi-Strategy Fund, L.P.",Final,MBI/TCC Multi-Strategy Canadian Trust,2,B-MBI,2,CAD,R,0,0.007952,...,True,0,09/30/2021,10/31/2021,0,0,0,0,1.029073e+07,-1285.429506
2CADB-MBI3,"TCC Master Multi-Strategy Fund, L.P.",Final,MBI/TCC Multi-Strategy Canadian Trust,2,B-MBI,3,CAD,R,0,0.007610,...,True,0,09/30/2021,10/31/2021,0,0,0,0,9.848254e+06,-1230.158667
2CADB-MBI4,"TCC Master Multi-Strategy Fund, L.P.",Final,MBI/TCC Multi-Strategy Canadian Trust,2,B-MBI,4,CAD,R,0,0.019001,...,True,0,09/30/2021,10/31/2021,0,0,0,0,2.458954e+07,-3071.512195
3CADC-MBI1,"TCC Master Multi-Strategy Fund, L.P.",Final,TCC MSF Mutual Fund,3,C-MBI,1,CAD,R,0,0.016393,...,False,0,09/30/2021,10/31/2021,0,0,0,0,2.123502e+07,0.000000
4CADPref1,"TCC Master Multi-Strategy Fund, L.P.",Final,"Performance Allocation A (TCC MS Feeder, L.P.)",4,Pref,1,CAD,R,0,0.000000,...,False,0,09/30/2021,10/31/2021,0,0,0,0,1.000000e-02,0.000000
7CADPref2,"TCC Master Multi-Strategy Fund, L.P.",Final,"Performance Allocation B (MBI MS Feeder, L.P.).",7,Pref,2,CAD,R,0,0.000000,...,False,0,09/30/2021,10/31/2021,0,0,0,0,1.387401e-03,0.000000

### (d)

Finally, we'll add a Percent Allocation column by dividing the Net Asset Value column (calculated in (b)) by the total NAV

Hint: Use the $\texttt{numpy.sum(array)}$ function

In [32]:
perf_oct["Percent Allocation"] = perf_oct["NAV"]/np.sum(perf_oct["NAV"].values)

perf_oct

,Fund Name,To Date NAV Type,Investor Name*,Investor ID,Class*,SR/PI Name*,CCY,R/UR*,Lot Id,pctOwn,...,Distribution T*,From Date,To Date,Incentive Crystallized T,Incentive Crystallized on To Date,Incentive Crystallized Excluding To Date,Incentive Crystallized TPlus1,NAV,Investor Specific Expenses/Perf Allocation,Percent Allocation
8CADA-MBI1,"TCC Master Multi-Strategy Fund, L.P.",Final,Montrusco Bolton Alternative Fund LP,8,A-MBI,1,CAD,R,0,0.002841,...,0,09/30/2021,10/31/2021,0,0,0,0,3.674375e+06,-688.786988,2.838916e-03
2CADA-MBI2,"TCC Master Multi-Strategy Fund, L.P.",Final,MBI/TCC Multi-Strategy Canadian Trust,2,A-MBI,2,CAD,R,0,0.011234,...,0,09/30/2021,10/31/2021,0,0,0,0,1.453536e+07,-2179.175209,1.123039e-02
3CADA-MBI3,"TCC Master Multi-Strategy Fund, L.P.",Final,TCC MSF Mutual Fund,3,A-MBI,3,CAD,R,0,0.000763,...,0,09/30/2021,10/31/2021,0,0,0,0,9.865847e+05,-184.942129,7.622606e-04
1CADA-TCC1,"TCC Master Multi-Strategy Fund, L.P.",Final,Air Canada Pension Master Trust Fund,1,A-TCC,1,CAD,R,0,0.916379,...,0,09/30/2021,10/31/2021,0,0,0,0,1.186057e+09,-133323.963653,9.163778e-01
2CADB-MBI1,"TCC Master Multi-Strategy Fund, L.P.",Final,MBI/TCC Multi-Strategy Canadian Trust,2,B-MBI,1,CAD,R,0,0.017828,...,0,09/30/2021,10/31/2021,0,0,0,0,2.307135e+07,-2881.873808,1.782552e-02
2CADB-MBI2,"TCC Master Multi-Strategy Fund, L.P.",Final,MBI/TCC Multi-Strategy Canadian Trust,2,B-MBI,2,CAD,R,0,0.007952,...,0,09/30/2021,10/31/2021,0,0,0,0,1.029073e+07,-1285.429506,7.950885e-03
2CADB-MBI3,"TCC Master Multi-Strategy Fund, L.P.",Final,MBI/TCC Multi-Strategy Canadian Trust,2,B-MBI,3,CAD,R,0,0.007610,...,0,09/30/2021,10/31/2021,0,0,0,0,9.848254e+06,-1230.158667,7.609013e-03
2CADB-MBI4,"TCC Master Multi-Strategy Fund, L.P.",Final,MBI/TCC Multi-Strategy Canadian Trust,2,B-MBI,4,CAD,R,0,0.019001,...,0,09/30/2021,10/31/2021,0,0,0,0,2.458954e+07,-3071.512195,1.899851e-02
3CADC-MBI1,"TCC Master Multi-Strategy Fund, L.P.",Final,TCC MSF Mutual Fund,3,C-MBI,1,CAD,R,0,0.016393,...,0,09/30/2021,10/31/2021,0,0,0,0,2.123502e+07,0.000000,1.640672e-02
4CADPref1,"TCC Master Multi-Strategy Fund, L.P.",Final,"Performance Allocation A (TCC MS Feeder, L.P.)",4,Pref,1,CAD,R,0,0.000000,...,0,09/30/2021,10/31/2021,0,0,0,0,1.000000e-02,0.000000,7.726256e-12
7CADPref2,"TCC Master Multi-Strategy Fund, L.P.",Final,"Performance Allocation B (MBI MS Feeder, L.P.).",7,Pref,2,CAD,R,0,0.000000,...,0,09/30/2021,10/31/2021,0,0,0,0,1.387401e-03,0.000000,1.071942e-12

### (e)

We're done our calculations for now, so let's publish them in an Excel file titled "Reviewed Perf Allocations.xlsx"

In [33]:
# perf_oct.to_excel("Reviewed Perf Allocations.xlsx")

## Exercise 6: MSF Validation

### (a)

I've also uploaded a file called "Perf Alloc 2021-11.xlsx" containing the MSF perf allocation breakdown by series for November 2021. Let's open it and index it by Unique ID as we did for the October file.

In [34]:
perf_nov = pd.read_excel("Perf Alloc 2021-11.xlsx")

unid = []
for i in perf_nov.index.values:
    indx = str(perf_nov.loc[i, "Investor ID"]) + str(perf_nov.loc[i, "CCY"]) \
    + str(perf_nov.loc[i, "Class*"]) + str(perf_nov.loc[i, "SR/PI Name*"])

    unid.append(indx)
    
perf_nov.index = unid

perf_nov

,Fund Name,To Date NAV Type,Investor Name*,Investor ID,Class*,SR/PI Name*,CCY,R/UR*,Lot Id,pctOwn,...,New Issue,Covered Status*,Sideletter*,Distribution T*,From Date,To Date,Incentive Crystallized T,Incentive Crystallized on To Date,Incentive Crystallized Excluding To Date,Incentive Crystallized TPlus1
8CADA-MBI1,"TCC Master Multi-Strategy Fund, L.P.",Final,Montrusco Bolton Alternative Fund LP,8,A-MBI,1,CAD,R,0,0.002839,...,Restricted,Unknown,False,0,10/31/2021,11/30/2021,0,0,0,0
2CADA-MBI2,"TCC Master Multi-Strategy Fund, L.P.",Final,MBI/TCC Multi-Strategy Canadian Trust,2,A-MBI,2,CAD,R,0,0.011231,...,Restricted,Unknown,True,0,10/31/2021,11/30/2021,0,0,0,0
3CADA-MBI3,"TCC Master Multi-Strategy Fund, L.P.",Final,TCC MSF Mutual Fund,3,A-MBI,3,CAD,R,0,0.000762,...,Restricted,Unknown,False,0,10/31/2021,11/30/2021,0,0,0,0
1CADA-TCC1,"TCC Master Multi-Strategy Fund, L.P.",Final,Air Canada Pension Master Trust Fund,1,A-TCC,1,CAD,R,0,0.916399,...,Restricted,Unknown,True,0,10/31/2021,11/30/2021,0,0,0,0
2CADB-MBI1,"TCC Master Multi-Strategy Fund, L.P.",Final,MBI/TCC Multi-Strategy Canadian Trust,2,B-MBI,1,CAD,R,0,0.017826,...,Restricted,Unknown,True,0,10/31/2021,11/30/2021,0,0,0,0
2CADB-MBI2,"TCC Master Multi-Strategy Fund, L.P.",Final,MBI/TCC Multi-Strategy Canadian Trust,2,B-MBI,2,CAD,R,0,0.007951,...,Restricted,Unknown,True,0,10/31/2021,11/30/2021,0,0,0,0
2CADB-MBI3,"TCC Master Multi-Strategy Fund, L.P.",Final,MBI/TCC Multi-Strategy Canadian Trust,2,B-MBI,3,CAD,R,0,0.007609,...,Restricted,Unknown,True,0,10/31/2021,11/30/2021,0,0,0,0
2CADB-MBI4,"TCC Master Multi-Strategy Fund, L.P.",Final,MBI/TCC Multi-Strategy Canadian Trust,2,B-MBI,4,CAD,R,0,0.018999,...,Restricted,Unknown,True,0,10/31/2021,11/30/2021,0,0,0,0
3CADC-MBI1,"TCC Master Multi-Strategy Fund, L.P.",Final,TCC MSF Mutual Fund,3,C-MBI,1,CAD,R,0,0.016384,...,Restricted,Unknown,False,0,10/31/2021,11/30/2021,0,0,0,0
4CADPref1,"TCC Master Multi-Strategy Fund, L.P.",Final,"Performance Allocation A (TCC MS Feeder, L.P.)",4,Pref,1,CAD,R,0,0.000000,...,Restricted,Unknown,False,0,10/31/2021,11/30/2021,0,0,0,0
7CADPref2,"TCC Master Multi-Strategy Fund, L.P.",Final,"Performance Allocation B (MBI MS Feeder, L.P.).",7,Pref,2,CAD,R,0,0.000000,...,Restricted,Unknown,False,0,10/31/2021,11/30/2021,0,0,0,0

### (b)

An important validation step is ensuring that each "previous month" column in the November file matches with the corresponding "current month" column in the October file. Let's validate the following columns by subtracting them from one-another:

October columns:
- End Net Capital(Base)*
- Ending Shares (if Ltd Fund)*
- Incentive Accrual (Base)

Corresponding November columns:
- Prior Net Capital(Base)*
- Prior Shares (if Ltd Fund)*
- Incentive Cfwd (Base)*

Hint: For each pair of columns, initialize a *new* DataFrame containing the Oct column, the Nov column, and the difference between the two.

In [35]:
# 1.

col1_check = pd.DataFrame()
col1_check["NAV Oct"] = perf_oct["End Net Capital(Base)*"]
col1_check["NAV Nov"] = perf_nov["Prior Net Capital(Base)*"]
col1_check["Diff"] = np.abs(col1_check["NAV Oct"] - col1_check["NAV Nov"])

col1_check

                 NAV Oct       NAV Nov  Diff
8CADA-MBI1  3.657047e+06  3.657047e+06   0.0
2CADA-MBI2  1.451099e+07  1.451099e+07   0.0
3CADA-MBI3  9.865847e+05  9.865847e+05   0.0
1CADA-TCC1  1.180583e+09  1.180583e+09   0.0
2CADB-MBI1  2.307135e+07  2.307135e+07   0.0
2CADB-MBI2  1.029073e+07  1.029073e+07   0.0
2CADB-MBI3  9.848254e+06  9.848254e+06   0.0
2CADB-MBI4  2.458954e+07  2.458954e+07   0.0
3CADC-MBI1  2.123502e+07  2.123502e+07   0.0
4CADPref1   5.474027e+06  5.474027e+06   0.0
7CADPref2   4.169261e+04  4.169261e+04   0.0

In [36]:
# 2.

col2_check = pd.DataFrame()
col2_check["Shares Oct"] = perf_oct["Ending Shares (if Ltd Fund)*"]
col2_check["Shares Nov"] = perf_nov["Prior Shares (if Ltd Fund)*"]
col2_check["Diff"] = np.abs(col2_check["Shares Oct"] - col2_check["Shares Nov"])

col2_check

              Shares Oct    Shares Nov  Diff
8CADA-MBI1  3.500000e+03  3.500000e+03   0.0
2CADA-MBI2  1.440000e+04  1.440000e+04   0.0
3CADA-MBI3  1.000000e+03  1.000000e+03   0.0
1CADA-TCC1  1.166295e+06  1.166295e+06   0.0
2CADB-MBI1  2.182166e+04  2.182166e+04   0.0
2CADB-MBI2  1.000000e+04  1.000000e+04   0.0
2CADB-MBI3  9.900000e+03  9.900000e+03   0.0
2CADB-MBI4  2.490000e+04  2.490000e+04   0.0
3CADC-MBI1  2.126491e+04  2.126491e+04   0.0
4CADPref1   4.076000e-07  4.076000e-07   0.0
7CADPref2   2.002400e-06  2.002400e-06   0.0

In [37]:
# 3. 

col3_check = pd.DataFrame()
col3_check["Acc Oct"] = perf_oct["Incentive Accrual (Base)"]
col3_check["Acc Nov"] = perf_nov["Incentive Cfwd (Base)*"]
col3_check["Diff"] = np.abs(col3_check["Acc Oct"] - col3_check["Acc Nov"])

col3_check

                 Acc Oct       Acc Nov  Diff
8CADA-MBI1 -1.732835e+04 -1.732835e+04   0.0
2CADA-MBI2 -2.436425e+04 -2.436425e+04   0.0
3CADA-MBI3  0.000000e+00  0.000000e+00   0.0
1CADA-TCC1 -5.474027e+06 -5.474027e+06   0.0
2CADB-MBI1  0.000000e+00  0.000000e+00   0.0
2CADB-MBI2  0.000000e+00  0.000000e+00   0.0
2CADB-MBI3  0.000000e+00  0.000000e+00   0.0
2CADB-MBI4  0.000000e+00  0.000000e+00   0.0
3CADC-MBI1  0.000000e+00  0.000000e+00   0.0
4CADPref1   5.474027e+06  5.474027e+06   0.0
7CADPref2   4.169261e+04  4.169261e+04   0.0

### (c)

Once again, we want to publish our results. But we now have *three* dataframes, which, if we use the df.to_excel(filename) method, would result in *three* separate Excel files. Not optimal.

Let's combine these three DataFrames using the $\texttt{pandas.concat([df1, df2])}$ method. By default, this concatenates dataframes df1 and df2 along the *rows*, which means they will appear one on top of the other. To have them appear side-by-side, we must specify the axis using the following syntax:

$\texttt{pandas.concat([df1, df2], axis=1)}$

In [38]:
combined = pd.concat([col1_check, col2_check, col3_check], axis=1)

combined

,NAV Oct,NAV Nov,Diff,Shares Oct,Shares Nov,Diff,Acc Oct,Acc Nov,Diff
8CADA-MBI1,3.657047e+06,3.657047e+06,0.0,3.500000e+03,3.500000e+03,0.0,-1.732835e+04,-1.732835e+04,0.0
2CADA-MBI2,1.451099e+07,1.451099e+07,0.0,1.440000e+04,1.440000e+04,0.0,-2.436425e+04,-2.436425e+04,0.0
3CADA-MBI3,9.865847e+05,9.865847e+05,0.0,1.000000e+03,1.000000e+03,0.0,0.000000e+00,0.000000e+00,0.0
1CADA-TCC1,1.180583e+09,1.180583e+09,0.0,1.166295e+06,1.166295e+06,0.0,-5.474027e+06,-5.474027e+06,0.0
2CADB-MBI1,2.307135e+07,2.307135e+07,0.0,2.182166e+04,2.182166e+04,0.0,0.000000e+00,0.000000e+00,0.0
2CADB-MBI2,1.029073e+07,1.029073e+07,0.0,1.000000e+04,1.000000e+04,0.0,0.000000e+00,0.000000e+00,0.0
2CADB-MBI3,9.848254e+06,9.848254e+06,0.0,9.900000e+03,9.900000e+03,0.0,0.000000e+00,0.000000e+00,0.0
2CADB-MBI4,2.458954e+07,2.458954e+07,0.0,2.490000e+04,2.490000e+04,0.0,0.000000e+00,0.000000e+00,0.0
3CADC-MBI1,2.123502e+07,2.123502e+07,0.0,2.126491e+04,2.126491e+04,0.0,0.000000e+00,0.000000e+00,0.0
4CADPref1,5.474027e+06,5.474027e+06,0.0,4.076000e-07,4.076000e-07,0.0,5.474027e+06,5.474027e+06,0.0
7CADPref2,4.169261e+04,4.169261e+04,0.0,2.002400e-06,2.002400e-06,0.0,4.169261e+04,4.169261e+04,0.0

In [39]:
# combined.to_excel("column_validation.xlsx")